# Exhaustive Search

In [1]:
import pandas as pd
from mlxtend.feature_selection import SequentialFeatureSelector

In [2]:
df = pd.read_csv("sampledata.csv")

In [3]:
df.head()

    age  gender  height  weight  target
0  1.71       1    15.6     127       0
1  1.78       1    11.2     100       0
2  2.36       0    18.6     101       0
3  1.95       1    16.8     113       0
4  2.59       0    21.0     118       0

In [4]:
df.isnull().sum()

age       0
gender    0
height    0
weight    0
target    0
dtype: int64

In [5]:
df.shape

(178, 5)

In [6]:
X = df.iloc[:, 0:4]
y = df.iloc[:, -1]

In [7]:
X.head()

    age  gender  height  weight
0  1.71       1    15.6     127
1  1.78       1    11.2     100
2  2.36       0    18.6     101
3  1.95       1    16.8     113
4  2.59       0    21.0     118

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,
                                                   random_state= 1)

In [10]:
from sklearn.ensemble import RandomForestClassifier

In [11]:
from mlxtend.feature_selection import ExhaustiveFeatureSelector

In [12]:
efs = ExhaustiveFeatureSelector(RandomForestClassifier(n_jobs=-1),
                               min_features=1,
                               max_features=4,
                               scoring= "accuracy",
                               cv = 2,
                               n_jobs=-1).fit(X_train, y_train)

Features: 15/15

In [13]:
efs.best_feature_names_

('age', 'height', 'weight')

In [14]:
efs.best_score_

0.7661290322580645

In [15]:
pd.DataFrame.from_dict(efs.get_metric_dict()).T

,feature_idx,cv_scores,avg_score,feature_names,ci_bound,std_dev,std_err
0,"(0,)","[0.5967741935483871, 0.6774193548387096]",0.637097,"(age,)",0.173494,0.0403226,0.0403226
1,"(1,)","[0.41935483870967744, 0.41935483870967744]",0.419355,"(gender,)",0,0,0
2,"(2,)","[0.3870967741935484, 0.4838709677419355]",0.435484,"(height,)",0.208193,0.0483871,0.0483871
3,"(3,)","[0.45161290322580644, 0.4838709677419355]",0.467742,"(weight,)",0.0693976,0.016129,0.016129
4,"(0, 1)","[0.5161290322580645, 0.5161290322580645]",0.516129,"(age, gender)",0,0,0
5,"(0, 2)","[0.6290322580645161, 0.7903225806451613]",0.709677,"(age, height)",0.346988,0.0806452,0.0806452
6,"(0, 3)","[0.7419354838709677, 0.7258064516129032]",0.733871,"(age, weight)",0.0346988,0.00806452,0.00806452
7,"(1, 2)","[0.46774193548387094, 0.5483870967741935]",0.508065,"(gender, height)",0.173494,0.0403226,0.0403226
8,"(1, 3)","[0.46774193548387094, 0.4838709677419355]",0.475806,"(gender, weight)",0.0346988,0.00806452,0.00806452
9,"(2, 3)","[0.6290322580645161, 0.6451612903225806]",0.637097,"(height, weight)",0.0346988,0.00806452,0.00806452
10,"(0, 1, 2)","[0.6129032258064516, 0.6612903225806451]",0.637097,"(age, gender, height)",0.104096,0.0241935,0.0241935
11,"(0, 1, 3)","[0.6935483870967742, 0.6935483870967742]",0.693548,"(age, gender, weight)",0,0,0
12,"(0, 2, 3)","[0.7741935483870968, 0.7580645161290323]",0.766129,"(age, height, weight)",0.0346988,0.00806452,0.00806452
13,"(1, 2, 3)","[0.5483870967741935, 0.6451612903225806]",0.596774,"(gender, height, weight)",0.208193,0.0483871,0.0483871
14,"(0, 1, 2, 3)","[0.7096774193548387, 0.7903225806451613]",0.75,"(age, gender, height, weight)",0.173494,0.0403226,0.0403226