# VarianceThreshold

In [1]:
import pandas as pd
from sklearn.feature_selection import VarianceThreshold

In [2]:
df = pd.read_csv("sample.csv")

In [3]:
df.shape

(150, 6)

In [4]:
df.head()

   length  width  size  decimal  weight  height
0     5.1    3.5   1.4      0.2       5     148
1     4.9    3.0   1.4      0.2       5     193
2     4.7    3.2   1.3      0.2       5     182
3     4.6    3.1   1.5      0.2       5     170
4     5.0    3.6   1.4      0.2       5     140

In [5]:
df["weight"].value_counts()

5    150
Name: weight, dtype: int64

In [6]:
X = df.iloc[:, 0:5]
y = df.iloc[:, -1]

In [7]:
X

     length  width  size  decimal  weight
0       5.1    3.5   1.4      0.2       5
1       4.9    3.0   1.4      0.2       5
2       4.7    3.2   1.3      0.2       5
3       4.6    3.1   1.5      0.2       5
4       5.0    3.6   1.4      0.2       5
..      ...    ...   ...      ...     ...
145     6.7    3.0   5.2      2.3       5
146     6.3    2.5   5.0      1.9       5
147     6.5    3.0   5.2      2.0       5
148     6.2    3.4   5.4      2.3       5
149     5.9    3.0   5.1      1.8       5

[150 rows x 5 columns]

In [8]:
y

0      148
1      193
2      182
3      170
4      140
      ...
145    192
146    140
147    149
148    189
149    189
Name: height, Length: 150, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)

In [11]:
selector = VarianceThreshold(threshold=0.4)

In [12]:
selector

VarianceThreshold(threshold=0.4)

In [13]:
selector.fit(X_train)

VarianceThreshold(threshold=0.4)

In [14]:
selector.get_support()

array([ True, False,  True,  True, False])

In [15]:
X_train.head()

     length  width  size  decimal  weight
114     5.8    2.8   5.1      2.4       5
136     6.3    3.4   5.6      2.4       5
53      5.5    2.3   4.0      1.3       5
19      5.1    3.8   1.5      0.3       5
38      4.4    3.0   1.3      0.2       5

In [16]:
df.drop("weight", axis=1)

     length  width  size  decimal  height
0       5.1    3.5   1.4      0.2     148
1       4.9    3.0   1.4      0.2     193
2       4.7    3.2   1.3      0.2     182
3       4.6    3.1   1.5      0.2     170
4       5.0    3.6   1.4      0.2     140
..      ...    ...   ...      ...     ...
145     6.7    3.0   5.2      2.3     192
146     6.3    2.5   5.0      1.9     140
147     6.5    3.0   5.2      2.0     149
148     6.2    3.4   5.4      2.3     189
149     5.9    3.0   5.1      1.8     189

[150 rows x 5 columns]